<footer class="footer">
  <p class="footer__text">© 2023 | All Rights Reserved |</p>
  <div class="footer__wrapper">
    <p class="footer__text">Developed with</p>
    <svg class="footer__icon" width="14" height="13">
      <use href="./images/sprites.svg#icon-favorite"></use>
    </svg>
    <p class="footer__text">
      by <span class="footer__text--team">Movie Heaven</span> - <p class="footer__link open-modal-team"> by GoIT Students</p>
    </p>
  </div>
</footer>


<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
    <button class="team__modal--close close-modal-team">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="/src/images/sprites.svg#footer-modal"></use>
      </svg>
    </button>
       <h1 class="team__title">Movie Heaven</h1>
       <div class="team__box">

        
             <div class="team__member">
              <div class="team__card">
                <a class="team__link"
            href="https://github.com/SandraKoch"
            target="_blank">
                <img class="team__photo" src="/src/images/GitHub-logo.png"
                alt="Beresten"/>
                </a>
               </div>
            <p class="team__name">Sandra Koch</p>
            <p class="team__role">Team Lead</p>
          </div>
          <div class="team__member">
            <div class="team__card">
              <a class="team__link"
            href="https://github.com/AdrianChudobinski"
            target="_blank">
              <img class="team__photo" src="/src/images/GitHub-logo.png"
              alt="Beresten"/>
              </a>
             </div>
            <p class="team__name">Adrian Chudobinski</p>
            <p class="team__role">Scrum Master</p>
          </div>
          <div class="team__member">
            <div class="team__card">
              <a class="team__link"
            href="#"
            target="_blank">
              <img class="team__photo" src="/src/images/GitHub-logo.png"
              alt="Beresten"/>
              </a>
             </div>
            <p class="team__name">Adam Jędrzejek</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
            <div class="team__card">
              <a class="team__link"
            href="https://github.com/AdamSkubida"
            target="_blank">
              <img class="team__photo" src="/src/images/GitHub-logo.png"
              alt="Beresten"/>
              </a>
             </div>
            <p class="team__name">Adam Skubida</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
            <div class="team__card">
              <a class="team__link"
            href="https://github.com/ApolinarySzumski"
            target="_blank">
              <img class="team__photo" src="/src/images/GitHub-logo.png"
              alt="Beresten"/>
              </a>
             </div>
            <p class="team__name">Apolinary Szumski</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
            <div class="team__card">
              <a class="team__link"
            href="https://github.com/bp998"
            target="_blank">
              <img class="team__photo" src="/src/images/GitHub-logo.png"
              alt="Beresten"/>
              </a>
             </div>
            <p class="team__name">Bartosz Potyrała</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
            <div class="team__card">
              <a class="team__link"
            href="https://github.com/Damian136"
            target="_blank">
              <img class="team__photo" src="/src/images/GitHub-logo.png"
              alt="Beresten"/>
              </a>
             </div>
            <p class="team__name">Damian Nowak</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
            <div class="team__card">
              <a class="team__link"
            href="https://github.com/LukaszCiaston-coder"
            target="_blank">
              <img class="team__photo" src="/src/images/GitHub-logo.png"
              alt="Beresten"/>
              </a>
             </div>
            <p class="team__name">Łukasz Ciastoń</p>
            <p class="team__role">Developer</p>
          </div>
       </div>