<div class="header header--library">
    <div class="container">
        <div class="header__main">
            <div class="header__title">
                <a href="/src/index.html">
                    <img src="/src/images/logo.svg" alt="logo" class="header__title__logo" />
                </a>
                <a href="/src/index.html">
                    <h1 class="header__name">Filmoteka</h1>
                </a>
            </div>

            <nav class="header__nav">
                <a href="/src/index.html">HOME</a>
                <a href="" class="header__active">MY LIBRARY</a>
            </nav>
        </div>
        <div class="header--library__buttons">
            <button id="user-watched-btn" class="button button--library button--active">WATCHED</button>
            <button id="user-queue-btn" class="button button--library">QUEUE</button>
        </div>
    </div>
</div>