<div class="header">
  <div class="container">
    <div class="header__main">
      <div class="header__title">
        <a href="/src/index.html">
          <img src="/src/images/logo.svg" alt="logo" class="header__title__logo" />
        </a>
        <a href="/src/index.html">
          <h1 class="header__name">Filmoteka</h1>
        </a>
      </div>

      <nav class="header__nav">
        <a href="/src/index.html" class="header__active">HOME</a>
        <a id="library-link" href="/src/library.html">MY LIBRARY</a>
      </nav>
    </div>
    <form id="search-form" class="header__form">
      <input class="header__input" id="search-input" type="text" placeholder="Movie search" />
      <img class="header__icon" src="/src/images/search_icon.svg" alt="search-icon" />
    </form>
  </div>
</div>
