<section id="main" class="main">
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul id="main__list" class="main__list">
    <li id="main__list-item" class="main__list-item">
      <figure id="main__movie" class="main__movie">
        <img id="main__image" class="main__image" />
        <!-- src="sciezka z api" alt="sciezka z api" dodana za pomocą js -->
        <figcaption id="main__caption" class="main__caption">
          <span id="main__movie-name" class="main__movie-name">
            <!-- tu dodamy z api nazwę filmu --> test
          </span>
          <span id="main__movie-genres" class="main__movie-genres">
            <!-- tu dodamy z api gatunki filmu --> test
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
  <div id="main__buttons" class="main__buttons">
    <!-- tu dodamy za pomocą js buttony -->
  </div>
</section>
