.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
}

.modal {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 9999;
  width: 280px;
  height: 940px;
  top: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
}

.modal-close-button {
  top: 8px;
  left: 242px;
  position: absolute;
  background-color: var(--color-white);
  border-width: 0;
  padding: 0;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    background-color: #0ff;
    width: 240px;
    height: 357px;
    border-radius: 5px;
  }
}

.movie-info {
  padding: 20px 20px 0 20px;
}

.movie-title {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.movie-details {
  display: flex;
  align-items: center;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__aspects {
    margin-right: 50px;
  }

  &__values {
    font-size: 12px;
  }

  &__item-aspect {
    width: 70px;
  }

  &__item-value {
    width: 120px;
  }

  &__aspect {
    color: rgba(140, 140, 140, 1);
    font-size: 12px;
    font-weight: 500;
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
}
