.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    gap: 0.125rem;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    list-style-type: none;
}

.pagination__element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.pagination__element--active {
    background-color: #FF6B08;
    color: white;
}

.pagination__element--button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #F7F7F7;
    background-image: url('/src/images/arrow-left.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.pagination__element--button:disabled {
    background-color: white;
}

.pagination__element--button--right {
    background-image: url('/src/images/arrow-right.png');
}

.pagination__element:not(.pagination__element--active):not(.pagination__element--button) {
    background-color: transparent;
}